<h2>Laboratoire {{title}} -- avec appels REST http</h2>
<ul>
  <li *ngFor="let elem of getall()"> Nom: {{elem.nom}} -- Prénom: {{elem.prenom}}</li>
</ul>
<h2>Informations obtenues de http get</h2>
<ol>
  <li *ngFor="let pers of persrecords">
    Nom: {{pers.nom}} -- Prénom: {{pers.prenom}} -- age: {{pers.nom}}</li>
</ol>

<h2>Informations variable globale de http get</h2>
<ol>
  <li *ngFor="let perso of ds.personnes">
    Nom: {{perso.nom}} -- Prénom: {{perso.prenom}} -- age: {{perso.nom}}</li>
</ol>

<h3>Date maj: {{updatetime}}</h3>
<button (click)="updatedate()">Mettre à jour</button>
<router-outlet></router-outlet>
